.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  max-width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.product-card img {
  
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.2s ease-in;
}
.product-card.show-description img {
  transform: scale(0.8);

}

.product-card h2 {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.product-card p {
  margin-bottom: 5px;
}

.add-to-cart-btn {
  background-color: rgb(120, 163, 130);
  height: 35px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease-in;
}

.add-to-cart-btn:hover {
  background-color: rgb(90, 122, 97);
}

.added {
  background-color: #4caf50;
  transform: scale(1.1);
  transition: transform 0.2s ease-in, background-color 0.3s ease-in;
}

.disabled {
  background-color: gray;
  cursor: not-allowed;
}


.add-to-cat-btn.disabled {
  background-color: gray;
  cursor: not-allowed;
}

.add-to-cat-btn.disabled:hover {
  background-color: gray;
  cursor: not-allowed;
}

.product-card button:hover {
  background-color: rgb(90, 122, 97);
}
.product-card {
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.product-card:hover {
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}


.product-card.show-description {
  height: auto;
}

.product-description {
  max-height: 120px; 
  overflow: hidden;
  font-size: 1em;
  font-weight: normal;
  padding: 10px;
  background: linear-gradient(to bottom, #d2d2d2, #ccc);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in;
}

